body {
    background-color: antiquewhite;
    font-family: "Caveat", cursive;
}
p {
    font-family: "Bad Script", cursive;
    line-height: 1.2;
  }
a {
      text-decoration: none;
      font-family: "Bad Script", cursive;
      font-weight: 600;
      line-height: 2;
  }
h1,h2,h3{
    font-family: "Caveat", cursive; 
}
div {
    font-family: "Bad Script", cursive;
    font-size: 24px;  
}

#mindmap {
    width: 100vw;
    height: 100vh;
  }
  #mindmap path {
    stroke: green;
  }

  #mindmap circle {
    stroke: #44b78b;
  }

  #mindmap circle {
    fill: #44b78b;
  }

  #mindmap rect {
    fill: black;
  }